<div class="mainContainer">
    <h2 class="title"> Знижки </h2>
    <section>
        <h4>Дорогі покупці!</h4>
        <p>Ми цінуємо кожного свого клієнта. Саме тому усім покупцям нашого інтернет-магазину доступна розгорнута
            система
            лояльності та акціонні товари.</p>
        <p>Для отримання знижки на покупки в інтернет-магазині Nasvitlo.com або в салоні світла Арт-Енерго достатньо
            зробити
            замовлення. Кожний наш клієнт користується накопичувальною системою знижок незалежно від варіанта оплати та
            способу
            доставки.</p>
        <table>
            <tr>
                <th>Сума покупки</th>
                <th>Знижка при замовленні</th>
            </tr>
            <tr>
                <td>від 1000 грн</td>
                <td>4%</td>
            </tr>
            <tr>
                <td>від 3000 грн</td>
                <td>6%</td>
            </tr>
            <tr>
                <td>від 5000 грн</td>
                <td>8%</td>
            </tr>
            <tr>
                <td>від 10000 грн</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>від 15000 грн</td>
                <td>індивідуально</td>
            </tr>
        </table>
        <p>***Знижки і подарункові сертифікати не росповсюджуються на товар з акційною ціною!</p>
        <p>Успішних Вам покупок:)</p>
    </section>
</div>