<div class="mainContainer">
    <h3>Про нас</h3>
    <section>
        <h3>ВІТАЄМО ВАС В ІНТЕРНЕТ-МАГАЗИНІ СВІТИЛЬНИКІВ ВІД КОМПАНІЇ АРТ-ЕНЕРГО!</h3>
        <p>Однимз напрямків роботи ПП Арт-Енерго є реалізація на всій території України світильників для інтрерєрного і
            екстерєрного застосування, для житлових і комерційних приміщень, для вулиць, парків і автострад. Штат
            компанії, власні
            торговельні і складські площі дозволяють здійснювати комплексні поставки освітлювального обладнання на
            обєкти будь-якого
            рівня складності короткі терміни.

            Працівники нашої компанії допоможуть зробити Ваше життя яскравішим і світлішим, в прямому і переносному
            значеннях. Ми
            пропонуємо нашим клієнтам виключно високоякісну, сертифіковану , європейську продукцію, ми постійно
            оновлюємо географію
            наших партнерів за кордоном і в Україні, щоб зробити пропозицію для Вас більш цікавою і вигідною.</p>
    </section>
    <section>
        <h4>Що ми пропонуємо:</h4>
        <ul>
            <li>
                <p>широкий асортимент товару (інтерєр, бізнес, освітлення вулиць та автострад) зі складу у Львові і
                    доставкою по всій
                    Україні;</p>
            </li>
            <li>
                <p>короткі терміни поставки на позиції під замовлення і планування поставок на великі обєкти;</p>
            </li>
            <li>
                <p>бонусні програми і сервіс для корпоративних клієнтів;</p>
            </li>
            <li>
                <p>програму лояльності для роздрібних покупців;</p>
            </li>
            <li>
                <p>програму лояльності для роздрібних покупців;</p>
            </li>
            <li>
                <p>консультаційно-інформаційна підтримка для юридичних фірм і для фізичних осіб;</p>
            </li>
            <li>
                <p>бонусні програми для дизайнерів, зручний сервіс, доставка замовлення на обєкт.</p>
            </li>
        </ul>
        <p>Ми запрошуємо всіх відвідати наш Салон (Сокільники, вул. Скнилівська,21, окружна Львова) , де можна
            ознайомитись з
            продукцією, в комфортній атмосфері попрацювати з каталогами, отримати професійну консультацію і допомогу
            виборі
            світильників!</p>
    </section>
    <img src="../../../assets/images/nasvitlo.jpg" alt="лампи">
</div>