<div class="footer">
    <div class="footer_container">
        <div class="footer_container_top">
            <div class="footer_container_top_logo">
                <img src="../../../assets/images/LOGO_IC.png" alt="LOGO_ICON">
            </div>
            <div class="footer_container_top_shop-info">
                <div class="footer_container_top_shop-info_up">
                    <h3>Магазин</h3>
                    <ul>
                        <li><a [routerLink]="[ '/about' ]" routerLinkActive="active">Про магазин</a></li>
                        <li><a [routerLink]="[ '/trademarks' ]" routerLinkActive="active">Бренди</a></li>
                        <li><a [routerLink]="[ '/blogs' ]" routerLinkActive="active">Блог</a></li>
                        <li><a [routerLink]="[ '/contacts' ]" routerLinkActive="active">Контакти</a></li>
                    </ul>
                </div>
                <div class="footer_container_top_shop-info_down">
                    <h3>Інформація</h3>
                    <ul>
                        <li><a [routerLink]="[ '/delivery' ]" routerLinkActive="active">Доставка та оплата</a></li>
                        <li><a [routerLink]="[ '/guarantee' ]" routerLinkActive="active">Гарантія</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_container_top_catalog">
                <h3>Каталог</h3>
                <ul>
                    <li *ngFor="let cat of arrCategory">
                        <a [routerLink]="[ '/menu/' + cat.nameEN]">{{ cat.nameUA | mytitlecase}}</a>
                    </li>
                    <li><a [routerLink]="[ '/menu/' + 'promotional_offers' ]">Акції</a></li>
                </ul>
            </div>
            <div class="footer_container_top_contacts">
                <h3>Контакти</h3>
                <ul>
                    <li><a href="tel:+38 097 000 00 00">+38 097 000 00 00</a></li>
                    <li><a href="tel:+38 063 000 00 00">+38 063 000 00 00</a></li>
                    <li><a href="tel:+38 050 000 00 00">+38 050 000 00 00</a></li>
                    <li><a href="tel:+38 032 000 00 00">+38 032 000 00 00</a></li>
                    <li>
                        <p>81130, Україна,<br>м. Львів,<br>с. Сокільники,<br>вул. Скнилівська, 21</p>
                    </li>
                    <li>
                        <p>пн-пт 9:00 - 18:00<br>сб 10:00 - 17:00<br>вс: вихідний</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mfooter_container_top">
            <div class="mfooter_container_topL">
                <div class="footer_container_top_logo">
                    <img src="../../../assets/images/LOGO_IC.png" alt="LOGO_ICON">
                </div>
                <div class="footer_container_top_catalog">
                    <h3>Каталог</h3>
                    <ul>
                        <li *ngFor="let cat of arrCategory">
                            <a [routerLink]="[ '/menu/' + cat.nameEN]">{{ cat.nameUA | mytitlecase}}</a>
                        </li>
                        <li><a [routerLink]="[ '/menu/' + 'promotional_offers' ]">Акції</a></li>
                    </ul>
                </div>
            </div>
            <div class="mfooter_container_topR">
                <div class="footer_container_top_shop-info">
                    <div class="footer_container_top_shop-info_up">
                        <h3>Магазин</h3>
                        <ul>
                            <li><a [routerLink]="[ '/about' ]" routerLinkActive="active">Про магазин</a></li>
                            <li><a [routerLink]="[ '/brands' ]" routerLinkActive="active">Бренди</a></li>
                            <li><a [routerLink]="[ '/blogs' ]" routerLinkActive="active">Блог</a></li>
                            <li><a [routerLink]="[ '/contacts' ]" routerLinkActive="active">Контакти</a></li>
                        </ul>
                    </div>
                    <div class="footer_container_top_shop-info_down">
                        <h3>Інформація</h3>
                        <ul>
                            <li><a [routerLink]="[ '/delivery' ]" routerLinkActive="active">Доставка та оплата</a></li>
                            <li><a [routerLink]="[ '/guarantee' ]" routerLinkActive="active">Гарантія</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer_container_top_contacts">
                    <h3>Контакти</h3>
                    <ul>
                        <li><a href="tel:+38 097 000 00 00">+38 097 000 00 00</a></li>
                        <li><a href="tel:+38 063 000 00 00">+38 063 000 00 00</a></li>
                        <li><a href="tel:+38 050 000 00 00">+38 050 000 00 00</a></li>
                        <li><a href="tel:+38 032 000 00 00">+38 032 000 00 00</a></li>
                        <li>
                            <p>81130, Україна,<br>м. Львів,<br>с. Сокільники,<br>вул. Скнилівська, 21</p>
                        </li>
                        <li>
                            <p>пн-пт 9:00 - 18:00<br>сб 10:00 - 17:00<br>вс: вихідний</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer_container_bottom">
            <p>© Інтернет - магазин світильників і люстр «Firefly» 2020</p>
        </div>
    </div>
</div>