<div class="header">
    <app-headline></app-headline>
    <div class="header__container">
        <div class="header__container_left">
            <div class="header__container_left-logo">
                <a [routerLink]="[ '/home' ]"><img src="../../../assets/images/LOGO.png" alt="logo"></a>
            </div>
            <div class="header__container_left_contacts">
                <div class="header__container_left_contacts_number">
                    <a href="tel:+ 380508102280">+38 050 000 00 00<i class="fas fa-angle-down"></i></a>
                    <div class="numbers">
                        <ul>
                            <li><a href="tel:+38 097 000 00 00">+38 097 000 00 00</a></li>
                            <li><a href="tel:+38 063 000 00 00">+38 063 000 00 00</a></li>
                            <li><a href="tel:+38 032 000 00 00">+38 032 000 00 00</a></li>
                        </ul>
                    </div>
                </div>
                <a class="header__container_left_contacts_callback" (click)="openModal('custom-modal-1')">
                    <div class="header__container_left_contacts_callback_icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <p>Зворотній дзвінок</p>
                </a>
                <a href="" class="header__container_left_contacts_viber">
                    <div class="header__container_left_contacts_viber_icon">
                        <i class="fab fa-viber"></i>
                    </div>
                    <p>Зв'язятися у Viber</p>
                </a>
            </div>
        </div>
        <div class="header__container_right">
            <div class="header__container_right_block">
                <div class="header__container_right_block_search">
                    <label class="header__container_right_block_search_form">
                        <input class="header__container_right_block_search_form_txt" type=" text" [(ngModel)]="search"
                            name="search" (keyup)="checkKeyUp()" autocomplete="off">
                        <button class="header__container_right_block_search_form_btn">
                            <i class="fas fa-search"></i>
                        </button>
                    </label>
                    <div *ngIf="showSearchBlock" class="searchblock">
                        <div class="close">
                            <p (click)="clearInputSearch()">Закрити</p>
                        </div>
                        <a class="prodCard" *ngFor="let pr of products | search:'name':search"
                            [routerLink]="[ '/menu/'+pr.category.nameEN + '/' + pr.subcategory.nameEN, pr.id ]"
                            (click)="clearInputSearch()">
                            <div class="img">
                                <img src="{{ pr.image }}" alt="">
                            </div>
                            <div class="name">
                                <p>{{ pr.name }}</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="header__container_right_block_basket">
                    <label class="header__container_right_block_basket_icon" [routerLink]="[ '/basket' ]" id="basket">
                        <i class="fas fa-shopping-basket"></i>
                        <span [textContent]="checkBasket()? productsCount:'0'"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="mheader">
        <div class="mheader__container">
            <div class=" mheader__container_left">
                <app-mobile-nav></app-mobile-nav>
            </div>
            <div class="mheader__container_center">
                <div class="header__container_left-logo">
                    <a [routerLink]="[ '/home' ]"><img src="../../../assets/images/LOGO.png" alt="logo"></a>
                </div>
            </div>
            <div class="mheader__container_right">
                <div class="header__container_left_contacts_number">
                    <div><i class="fas fa-phone"></i></div>
                    <div class="numbers">
                        <ul>
                            <li><a href="tel:+38 050 000 00 00">+38 050 000 00 00</a></li>
                            <li><a href="tel:+38 097 000 00 00">+38 097 000 00 00</a></li>
                            <li><a href="tel:+38 063 000 00 00">+38 063 000 00 00</a></li>
                            <li><a href="tel:+38 032 000 00 00">+38 032 000 00 00</a></li>
                        </ul>
                    </div>
                </div>
                <div class="header__container_right_block_basket">
                    <label class="header__container_right_block_basket_icon" [routerLink]="[ '/basket' ]" id="basket">
                        <i class="fas fa-shopping-basket"></i>
                        <span [textContent]="checkBasket()? productsCount:'0'"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="header__container_right_block_search">
            <label class="header__container_right_block_search_form">
                <input class="header__container_right_block_search_form_txt" type=" text" [(ngModel)]="search"
                    name="search" (keyup)="checkKeyUp()" autocomplete="off">
                <button class="header__container_right_block_search_form_btn">
                    <i class="fas fa-search"></i>Пошук
                </button>
            </label>
            <div *ngIf="showSearchBlock" class="searchblock">
                <div class="close">
                    <p (click)="clearInputSearch()">Закрити</p>
                </div>
                <a class="prodCard" *ngFor="let pr of products | search:'name':search"
                    [routerLink]="[ '/menu/'+pr.category.nameEN + '/' + pr.subcategory.nameEN, pr.id ]"
                    (click)="clearInputSearch()">
                    <div class="img">
                        <img src="{{ pr.image }}" alt="">
                    </div>
                    <div class="name">
                        <p>{{ pr.name }}</p>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>


<!-- modal window -->

<app-mymodal id="custom-modal-1">
    <div class="modal_header">
        <p class="modal_header_title">Замовити зворотній дзвінок</p>
        <span class="modal_header_close" (click)="closeModal('custom-modal-1')"><i class="fas fa-times"></i></span>
    </div>
    <form #callMeForm="ngForm" novalidate (submit)="callMe(callMeForm)">
        <div class="modal_main">
            <div class="inputWrapper">
                <input type="text" name="name" [(ngModel)]="name" #userName="ngModel" [pattern]="patternName"
                    autocomplete="off">
                <p class="placeholder">Ім'я<span>*</span></p>
                <p *ngIf="userName.errors?.pattern" class="txtAlarm">Перевірте ім'я</p>
            </div>
            <div class="inputWrapper">
                <input type="text" class="tel" name="phone" [(ngModel)]="phone" [ngClass]="!blind?'colorWhite':''"
                    [showMaskTyped]="true" prefix="+38" mask="(000)-00-00-000" value="0">
                <p class="placeholder">Ваш телефон<span>*</span></p>
            </div>
            <div class="inputWrapper">
                <textarea name="comment" [(ngModel)]="comment"></textarea>
                <p class="placeholder phTextarea">Повідомлення<span>*</span></p>
            </div>
        </div>
        <div class="modal_footer">
            <input type="button" value="Закрити" class="modal_footer_close" (click)="closeModal('custom-modal-1')">
            <input type="submit" class="modal_footer_callMe" value="Передзвоніть мені">
        </div>
    </form>
</app-mymodal>