$mainColor: #cc2742; // головний колір
$menuColor:#cc2742; // головний колір меню
$bdColor:#fad2cc; // вставки, рамки

$mainDTxtColor:#444; //темний колір тексту
$mainLTxtColor:#fff; //світлий колір тексту
$txtColor: #999; //колір тексту для меню і футера
