<div class="headline">
    <div class="headline_left">
        <nav class="headline_left_nav">
            <ul class="headline_left_nav_list">
                <li><a [routerLink]="[ '/about' ]" routerLinkActive="active">Про магазин</a>
                </li>
                <li><a [routerLink]="[ '/trademarks' ]" routerLinkActive="active">Торгові марки</a></li>
                <li><a [routerLink]="[ '/delivery' ]" routerLinkActive="active">Доставка та
                        оплата</a></li>
                <li><a [routerLink]="[ '/guarantee' ]" routerLinkActive="active">Гарантія</a>
                </li>
                <li><a [routerLink]="[ '/discounts' ]" routerLinkActive="active">Знижки</a>
                </li>
                <li><a [routerLink]="[ '/contacts' ]" routerLinkActive="active">Контакти</a>
                </li>
                <li><a [routerLink]="[ '/blogs' ]" routerLinkActive="active">Блог</a></li>
            </ul>
        </nav>
    </div>
    <div class="headline_right">
        <div class="headline_right_options">
            <div class="headline_right_options_favorites">
                <a href="" class="headline_right_options_favorites_item">
                    <div class="headline_right_options_favorites_item_wrapIc">
                        <i class="far fa-heart"></i>
                    </div>
                    <span class="headline_right_options_favorites_item_title"><i>Улюблені</i><span> (0)</span></span>
                </a>
            </div>
            <div class="headline_right_options_comparison">
                <a href="" class="headline_right_options_comparison_item">
                    <div class="headline_right_options_comparison_item_wrapIc">
                        <i class="fas fa-exchange-alt"></i>
                    </div>
                    <span class="headline_right_options_comparison_item_title"><i>Порівняння</i><span> (0)</span></span>
                </a>
            </div>
            <div class="headline_right_options_profile">
                <a href="" class="headline_right_options_profile_item">
                    <div class="headline_right_options_profile_item_wrapIc">
                        <i class="far fa-user"></i>
                    </div>
                    <span class="headline_right_options_profile_item_title"><i>Особистий кабінет</i><span></span></span>
                </a>
            </div>
        </div>
    </div>
</div>