<div class="mainContainer">
    <h2 class="title">Доставка і оплата</h2>
    <section class="delivery">
        <h3>Доставка</h3>
        <section>
            <h4>Доставка по Україні</h4>
            <p>Наша компанія пропонує безпечну доставку товарів по всій території України. Всі товари перед
                відправкою ретельно
                перевіряються і упаковуються, ми працюємо виключно з надійними перевізниками!

                Існує кілька способів доставки, при замовленні - виберіть будь-який, комфортний для Вас:</p>
            <h5>Доставка до складу Нової Пошти</h5>
            <ul>
                <li>БЕЗКОШТОВНО, при сумі замовлення більше 1500 грн.;</li>
                <li>50 грн. - при сумі замовлення до 1500 грн. (Додаткова комісія за звортнє відправлення коштів у
                    разі післяплати відсутня.</li>
            </ul>
            <h5>Доставка Новою Поштою до дверей</h5>
            <ul>
                <li>БЕЗКОШТОВНО, при сумі замовлення більше 1500 грн.;</li>
                <li>70 грн. - при сумі замовлення до 1500 грн. (Додаткова комісія за звортнє відправлення коштів у
                    разі післяплати
                    відсутня).</li>
            </ul>
        </section>
        <section>
            <h4>Доставка по Львову</h4>
            <p>Якщо ви проживаєте у Львові, можете вибрати додаткові способи доставки</p>
            <h5>Самовивіз</h5>
            <p class="some">Отримати замовлення безкоштовно можна в нашому салоні за адресою: Кільцева дорога м Львів,
                с.Сокільники, вул.Скнилівска,
                21</p>
            <h5>Доставка кур'єром по Львову</h5>
            <ul>
                <li>БЕЗКОШТОВНО, при замовленні понад 2000 грн.;</li>
                <li>50 грн. - при замовленні до 2000 грн. в робочий час;</li>
                <li>100 грн. - при замовленні от 2000 грн. в неробочий час;</li>
                <li>100 грн. - в межах 20 км від міста Львів при замовленні от 3000 грн.</li>
            </ul>
        </section>
    </section>
    <section class="payment">
        <h3>Оплата</h3>
        <section>
            <h4>Оплата готівкою при отриманні товару</h4>
            <p>Оплата можлива в будь-якому населеному пункті України. Оплата здійснюється виключно у національній
                валюті.</p>
            <h4>Оплата безготівкою</h4>
            <p>Оплата здійснюється згідно з рахунком-фактурою, який Ви отримаєте по електронній пошті. Оплата
                здійснюється в будь-якому
                банківському відділенні або з розрахункового рахунку Вашої компанії.

                Для юридичних осіб пакет усіх необхідних документів надається разом з товаром або пересилається
                Укрпоштою.</p>
            <h4>Оплата онлайн банківською картою Visa / MasterCard</h4>
            <p>Оплата здійснюється безпосередньо при оформленні замовлення в інтернет-магазині, дотримуйтесь
                покрокової інструкції при
                виборі цього способу оплати!

                Забезпечені всі заходи безпеки он-лайн платежів. При оплаті до вартості замовлення необхідно додати
                2,75% - відсотки за
                обслуговування он-лайн платежів.</p>
        </section>
    </section>
    <section class=" transportation">
        <h3>УМОВИ РОБОТИ</h3>
        <p>Всі товари, які є в наявності, можна замовити без передплати. На моделі "під замовлення" потрібна 50%
            передплата.</p>
    </section>
</div>