<div class="mainContainer">
    <h2 class="title">Гарантія</h2>
    <section>
        <h2>Ми не обіцяємо, ми - гарантуємо!</h2>
        <p>На товари в нашому інтернет-магазині існує гарантія, яка підтверджує відсутність фабричних дефектів товару,
            його
            працездатність і відповідність даного товару ГОСТу. Гарантійний термін на товари становить <span>від 1 року
                до 10
                років</span> і
            обумовлений політикою виробника. Якщо в гарантійний період товар вийшов з ладу, надайте нам документ, що
            підтверджує
            оплату і ми здійснимо заміну товару.</p>
    </section>
    <section>
        <h3>У ЯКИХ ВИПАДКАХ ГАРАНТІЯ НЕ НАДАЄТЬСЯ?</h3>
        <ul>
            <li>є механічне пошкодження товару або його деформація;</li>
            <li>порушені правила використання товару або товар використовувався не за прямим призначенням;</li>
            <li>була змінена електрична схема або внутрішня комутація;</li>
            <li>товар має пошкодження в результаті форс-мажорних обставин (пожежа, землетрус і т.п.);</li>
            <li>аварійне підвищення чи зниження електроживлення в мережі, яке призвело освітлювальний прилад до виходу з
                ладу.</li>
        </ul>
    </section>
    <section>
        <h3>ЧИ МОЖНА ПОВЕРНУТИ АБО ОБМІНЯТИ ТОВАР?</h3>
        <p>Так, це право Вам гарантує «Закон про захист прав споживача». Ви можете повернути або обміняти товар протягом
            14 днів з
            дня покупки товару. До поверненню або обміну приймається товар, який не був у вживанні, не має дефектів і
            пошкоджень, у
            фабричній упаковці і за наявності товарного чека.</p>
        <p>Товар можна повернути або обміняти в нашому офісі за адресою: Львів, с. Сокільники, вул. Скнилівська, 21.
            Якщо Ви
            знаходитесь в іншому місті, зв'яжіться з менеджером інтернет-магазину для уточнення процедури обміну або
            повернення.</p>
        <p>Обмін або повернення товару по гарантійному випадку здійснюється <span>за рахунок Продавця</span></p>
        <p>Нашим багаторічним досвідом доведено, що гарантійні випадки практично не наступають,бо ми є прямими
            імпортерами фабрик,
            які сумлінно дотримуються стандартів виробництва продукції та її пакування, ми пропронуємо Вам товар тільки
            високої
            европейскої якості. Весь товар проходить строгий вхідний контроль на нашому складі, наші працівники ретельно
            упаковують
            Ваші замовлення, захищая їх від пошкоджень при транспортуванні по Україні.</p>
    </section>
</div>