<div class="wrap" (click)="addProduct()" title="Добавити в список побажань">
    <i [ngClass]="(status)?'fas active':'far'" class="fa-heart" id="icon"></i>
</div>
<app-mymodal id="sign-in-2">
    <div class="modal_header">
        <p class="modal_header_title" [textContent]="!signup?'Увійти в особистий кабінет':'Реєстрація'"></p>
        <span class="modal_header_close" (click)="closeModal('sign-in-2')"><i class="fas fa-times"></i></span>
    </div>
    <div *ngIf="!signup">
        <div class="modal_main">
            <div class="inputWrapper">
                <input type="text" name="email" [(ngModel)]="email" #userEmail="ngModel" [pattern]="patternEmail"
                    autocomplete="off">
                <p class="placeholder">Електронна адреса<span>*</span></p>
                <p *ngIf="userEmail.errors?.pattern" class="txtAlarm">Перевірте email</p>
            </div>
            <div class="inputWrapper">
                <input type="text" name="password" [(ngModel)]="password" #userPassword="ngModel"
                    [pattern]="patternPassword" autocomplete="off">
                <p class="placeholder">Пароль<span>*</span></p>
                <p *ngIf="userPassword.errors?.pattern" class="txtAlarm">Перевірте пароль</p>
            </div>
            <p (click)="signUp()">Регістрація</p>
        </div>
    </div>
    <form *ngIf="signup" #registerForm="ngForm" novalidate (submit)="register(registerForm)">
        <div class="modal_main">
            <div class="inputWrapper">
                <input type="text" name="name" [(ngModel)]="name" #userName="ngModel" [pattern]="patternName"
                    autocomplete="off">
                <p class="placeholder">Ім'я<span>*</span></p>
                <p *ngIf="userName.errors?.pattern" class="txtAlarm">Перевірте ім'я</p>
            </div>
            <div class="inputWrapper">
                <input type="email" name="email" [(ngModel)]="email" #userEmail="ngModel" [pattern]="patternEmail"
                    autocomplete="off">
                <p class="placeholder">Електронна адреса<span>*</span></p>
                <p *ngIf="userEmail.errors?.pattern" class="txtAlarm">Перевірте email</p>
            </div>
            <div class="inputWrapper">
                <input type="text" name="password" [(ngModel)]="password" #userPassword="ngModel"
                    [pattern]="patternPassword" autocomplete="off">
                <p class="placeholder">Пароль<span>*</span></p>
                <p *ngIf="userPassword.errors?.pattern" class="txtAlarm">Перевірте пароль</p>
            </div>
            <p (click)="signUp()">Увійти в кабінет</p>
        </div>
        <div class="modal_footer">
            <input type="button" value="Закрити" class="modal_footer_close" (click)="closeModal('sign-in-2')">
            <input type="submit" class="modal_footer_sign" value="Зареєструватись" [disabled]="checkForm()">
        </div>
    </form>
    <div *ngIf="!signup" class="modal_footer">
        <input type="button" value="Закрити" class="modal_footer_close" (click)="closeModal('sign-in-2')">
        <input type="button" class="modal_footer_sign" value="Увійти" (click)="signIn()">
    </div>
</app-mymodal>