<div class="mainContainer">
    <h2 class="title">Контакти</h2>
    <div class="body">
        <div class="left">
            <section>
                <h3>АДРЕСА</h3>
                <p>81130, Україна, Львівська область, с. Сокільники,
                    вул. Скнилівська, 21</p>
            </section>
            <section>
                <h3>ТЕЛЕФОНИ</h3>
                <ul>
                    <li>
                        <a href="tel:+38 (063) 000-00-00">+38 (063) 000-00-00</a></li>
                    <li>
                        <a href="tel:+38 (097) 000-00-00">+38 (097) 000-00-00</a>
                    </li>
                    <li>
                        <a href="tel:+38 (050) 000-00-00">+38 (050) 000-00-00</a>
                    </li>
                    <li>
                        <a href="tel:+38 (032) 000-00-00">+38 (032) 000-00-00</a>
                    </li>
                </ul>
            </section>
            <section>
                <h3>E-MAIL</h3>
                <a href="mailto:info@nasvitlo.com">info@nasvitlo.com</a>
            </section>
            <section>
                <h3>СКЛАДИ</h3>
                <p>Київ</p>
                <p>Львів</p>
            </section>
            <section>
                <h3>РЕЖИМ РОБОТИ</h3>
                <ul>
                    <li>
                        <p>пн-пт: 9:00 - 18:00</p>
                    </li>
                    <li>
                        <p>сб: 10:00 - 17:00</p>
                    </li>
                    <li>
                        <p>нд: вихідний</p>
                    </li>
                </ul>
            </section>
        </div>
        <div class="right">
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d10291.06889118264!2d23.9894589!3d49.8468312!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1602579419468!5m2!1suk!2sua"
                    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </div>
    </div>

</div>