@import"../../shared/styles-components/variables.scss";

.mainContainer {
  width: 100%;
  padding: 30px 50px;

  p,
  a {
    font-size: 16px;
    color: $txtColor;
  }

  h3 {
    margin: 15px 0 20px 0;
    font-size: 20px;
    font-weight: bold;
  }

  >.title {
    font-size: 32px;
    font-weight: bold;
  }

  >.body {
    width: 100%;
    margin-top: 20px;
    display: flex;

    >.left,
    >.right {
      width: 50%;

      >section {
        margin: 20px 0;

      }
    }

    >.right {
      >.map {
        >iframe {
          width: 100%;
        }
      }
    }
  }
}

@media(max-width:1050px) {
  .mainContainer {
    padding: 10px 20px;

    >.body {
      flex-direction: column-reverse;


      >.left,
      >.right {
        width: 100%;
      }

      >.right>.map>iframe {
        min-width: 150px;
      }
    }
  }
}
