<div class="border rounded">
    <div class="brandTitle px-5 py-2 d-flex justify-content-between align-items-center bg-light border-bottom">
        <h5>Торгові марки</h5>
    </div>
    <div class="addBlock px-5 py-2 d-flex justify-content-between align-items-center bg-light border-bottom">
        <div class="groupInput">
            <input class="form-control" type="text" [(ngModel)]="name" name="name" placeholder="Назва"
                autocomplete="none">
            <input class="form-control mt-3" type="text" [(ngModel)]="country" name="country"
                placeholder="Країна виробник" autocomplete="none">
        </div>
        <app-upload-image></app-upload-image>
        <button type="button" class="btn btn-success" [disabled]="btnDis()" (click)="addBrand()" [textContent]="!editStatus ? 'Добавити
            бренд' : 'Зберегти зміни'"></button>
    </div>
    <div class="container">
        <input class="form-control my-2 border-bottom" type="text" [(ngModel)]="searchPlace" name="searchPlace"
            placeholder="пошук...">
        <table class="table table-bordered table-striped">
            <thead class="table-secondary">
                <tr class="text-center m-0">
                    <th scope="col">№</th>
                    <th scope="col">Назва<span></span>
                    </th>
                    <th scope="col">Країна виробник<span></span>
                    </th>
                    <th scope="col">Логотип<span></span>
                    <th scope="col">Редагувати</th>
                    <th scope="col">Видалити</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center p-0" *ngFor="let br of arrBrands let i = index" id="{{ i+1 }}">
                    <td>{{ i+1 }}</td>
                    <td>{{ br.name | titlecase }}</td>
                    <td>{{ br.country | titlecase }}</td>
                    <td>
                        <div class="miniImage" [style.backgroundImage]="'url('+ br.logo +')'"></div>
                    </td>
                    <td><button type="button" class="btn btn-warning" (click)="editBrand(br)">Редагувати</button>
                    </td>
                    <td><button type="button" class="btn btn-danger"
                            (click)="openDeleteModal(template, br)">Видалити</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<ng-template #template>
    <div class="modal-body row">
        <div class="col">
            <button type="button" class="btn btn-dark btn-block" (click)="modalRef.hide()">Відмінити</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-danger btn-block" (click)="deleteBrand()">Видалити</button>
        </div>
    </div>
</ng-template>