.mainContainer {
  min-height: 80vh;
  padding: 0;
  background-color: white;

  .row.mainBody {
    margin: 0;

    .nav {
      background-color: grey;
      padding: 5px;
    }

    >.dNav {
      display: block;
    }

    >.mNav {
      width: 100%;
      display: none;
    }
  }
}

.active {
  color: white !important;
  background-color: #343a40 !important;
  box-shadow: none;

  &:focus {
    color: white !important;
  }

  &:hover {
    color: white !important;
  }
}

.routeBlock {
  padding: 10px;
  min-height: 85vh;
  border: 2px solid grey;
}

.backHome {
  &:hover {
    color: #c80000 !important;
  }
}


@media(max-width:1050px) {
  .mainContainer {
    >.row.mainBody {
      >.dNav {
        display: none;
      }

      >.mNav {
        display: block;
      }

      .col-10 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
    }
  }
}
