<div class="table_nav">
    <ul class="table_nav_list">
        <li ng-blur>
            <div class="listItem">
                <span (click)="getSubcategory('люстри', $event)">
                    <img src="../../../assets/images/category-icon/lustri.png">
                    <span>Люстри</span>
                </span>
            </div>
            <div class="drop">
                <div class="drop_list">
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:8">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:8:arrSubcategory.length">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                </div>
                <div class="linkCategory">
                    <a [routerLink]="[ '/menu/' + catLink ]">Усі
                        {{ nameCat | lowercase }}</a>
                </div>
            </div>
        </li>
        <li ng-blur>
            <div class="listItem">
                <span (click)="getSubcategory('стельові світильники', $event)">
                    <img src="../../../assets/images/category-icon/stelia.png">
                    <span>Стельові світильники</span>
                </span>
            </div>
            <div class="drop">
                <div class="drop_list">
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:4"><a
                                [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:4:arrSubcategory.length">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                </div>
                <div class="linkCategory">
                    <a [routerLink]="[ '/menu/' + catLink ]">Усі {{ nameCat | lowercase }}</a>
                </div>
            </div>
        </li>
        <li ng-blur>
            <div class="listItem">
                <span (click)="getSubcategory('точкові світильники', $event)">
                    <img src="../../../assets/images/category-icon/tochkovi.png">
                    <span>Точкові світильники</span>
                </span>
            </div>
            <div class="drop">
                <div class="drop_list">
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:2"><a
                                [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:2:arrSubcategory.length">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                </div>
                <div class="linkCategory">
                    <a [routerLink]="[ '/menu/' + catLink ]">Усі {{ nameCat | lowercase }}</a>
                </div>
            </div>
        </li>
        <li ng-blur>
            <div class="listItem">
                <span (click)="getSubcategory('трекові системи', $event)">
                    <img src="../../../assets/images/category-icon/trekovi.png">
                    <span>Трекові системи</span>
                </span>
            </div>
            <div class="drop">
                <div class="drop_list">
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:2"><a
                                [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:2:arrSubcategory.length">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                </div>
                <div class="linkCategory">
                    <a [routerLink]="[ '/menu/' + catLink ]">Усі {{ nameCat | lowercase }}</a>
                </div>
            </div>
        </li>
        <li ng-blur>
            <div class="listItem">
                <span (click)="getSubcategory('бра', $event)">
                    <img src="../../../assets/images/category-icon/bra.png">
                    <span>Бра</span>
                </span>
            </div>
            <div class="drop">
                <div class="drop_list">
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:7"><a
                                [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:7:arrSubcategory.length">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                </div>
                <div class="linkCategory">
                    <a [routerLink]="[ '/menu/' + catLink ]">Усі {{ nameCat | lowercase }}</a>
                </div>
            </div>
        </li>
        <li ng-blur>
            <div class="listItem">
                <span (click)="getSubcategory('настільні лампи', $event)">
                    <img src="../../../assets/images/category-icon/nastilni.png">
                    <span>Настільні лампи</span>
                </span>
            </div>
            <div class="drop">
                <div class="drop_list">
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:4"><a
                                [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:4:arrSubcategory.length">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                </div>
                <div class="linkCategory">
                    <a [routerLink]="[ '/menu/' + catLink ]">Усі {{ nameCat | lowercase }}</a>
                </div>
            </div>
        </li>
        <li ng-blur>
            <div class="listItem">
                <span (click)="getSubcategory('торшери', $event)">
                    <img src="../../../assets/images/category-icon/torshery.png">
                    <span>Торшери</span>
                </span>
            </div>
            <div class="drop">
                <div class="drop_list">
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:2"><a
                                [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:2:arrSubcategory.length">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                </div>
                <div class="linkCategory">
                    <a [routerLink]="[ '/menu/' + catLink ]">Усі {{ nameCat | lowercase }}</a>
                </div>
            </div>
        </li>
        <li ng-blur class="eightNav">
            <div class="listItem">
                <span (click)="getSubcategory('вуличні світильники', $event)">
                    <img src="../../../assets/images/category-icon/vulychni.png">
                    <span>Вуличні світильники</span>
                </span>
            </div>
            <div class="drop">
                <div class="drop_list">
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:5"><a
                                [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:5:arrSubcategory.length">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                </div>
                <div class="linkCategory">
                    <a [routerLink]="[ '/menu/' + catLink ]">Усі {{ nameCat | lowercase }}</a>
                </div>
            </div>
        </li>
        <li ng-blur class="nineNav">
            <div class="listItem">
                <span (click)="getSubcategory('комерційні світильники', $event)">
                    <img src="../../../assets/images/category-icon/komerciyni.png">
                    <span>Комерційне світло</span>
                </span>
            </div>
            <div class="drop">
                <div class="drop_list">
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:5">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:5:arrSubcategory.length">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                </div>
                <div class="linkCategory">
                    <a [routerLink]="[ '/menu/' + catLink ]">Усі {{ nameCat | lowercase }}</a>
                </div>
            </div>
        </li>
        <li>
            <div class="listItem">
                <span [routerLink]="[ '/menu/' + 'promotional_offers' ]">
                    <img src="../../../assets/images/category-icon/discount.png">
                    <span>Акції</span>
                </span>
            </div>
        </li>
    </ul>
</div>
<div class="mtable_nav">
    <ul class="mList">
        <li ng-blur>
            <div class="listItem">
                <span (click)="getSubcategory('люстри', $event)">
                    <img src="../../../assets/images/category-icon/lustri.png">
                    <span>Люстри</span>
                </span>
            </div>
            <div class="drop">
                <div class="drop_list">
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:8">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:8:arrSubcategory.length">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                </div>
                <div class="linkCategory">
                    <a [routerLink]="[ '/menu/' + catLink ]">Усі
                        {{ nameCat | lowercase }}</a>
                </div>
            </div>
        </li>
        <li ng-blur>
            <div class="listItem">
                <span (click)="getSubcategory('стельові світильники', $event)">
                    <img src="../../../assets/images/category-icon/stelia.png">
                    <span>Стельові світильники</span>
                </span>
            </div>
            <div class="drop">
                <div class="drop_list">
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:4"><a
                                [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:4:arrSubcategory.length">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                </div>
                <div class="linkCategory">
                    <a [routerLink]="[ '/menu/' + catLink ]">Усі {{ nameCat | lowercase }}</a>
                </div>
            </div>
        </li>
        <li ng-blur>
            <div class="listItem">
                <span (click)="getSubcategory('точкові світильники', $event)">
                    <img src="../../../assets/images/category-icon/tochkovi.png">
                    <span>Точкові світильники</span>
                </span>
            </div>
            <div class="drop">
                <div class="drop_list">
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:2"><a
                                [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:2:arrSubcategory.length">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                </div>
                <div class="linkCategory">
                    <a [routerLink]="[ '/menu/' + catLink ]">Усі {{ nameCat | lowercase }}</a>
                </div>
            </div>
        </li>
        <li ng-blur>
            <div class="listItem">
                <span (click)="getSubcategory('трекові системи', $event)">
                    <img src="../../../assets/images/category-icon/trekovi.png">
                    <span>Трекові системи</span>
                </span>
            </div>
            <div class="drop">
                <div class="drop_list">
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:2"><a
                                [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:2:arrSubcategory.length">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                </div>
                <div class="linkCategory">
                    <a [routerLink]="[ '/menu/' + catLink ]">Усі {{ nameCat | lowercase }}</a>
                </div>
            </div>
        </li>
        <li ng-blur>
            <div class="listItem">
                <span (click)="getSubcategory('бра', $event)">
                    <img src="../../../assets/images/category-icon/bra.png">
                    <span>Бра</span>
                </span>
            </div>
            <div class="drop">
                <div class="drop_list">
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:7"><a
                                [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:7:arrSubcategory.length">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                </div>
                <div class="linkCategory">
                    <a [routerLink]="[ '/menu/' + catLink ]">Усі {{ nameCat | lowercase }}</a>
                </div>
            </div>
        </li>
        <li ng-blur>
            <div class="listItem">
                <span (click)="getSubcategory('настільні лампи', $event)">
                    <img src="../../../assets/images/category-icon/nastilni.png">
                    <span>Настільні лампи</span>
                </span>
            </div>
            <div class="drop">
                <div class="drop_list">
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:4"><a
                                [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:4:arrSubcategory.length">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                </div>
                <div class="linkCategory">
                    <a [routerLink]="[ '/menu/' + catLink ]">Усі {{ nameCat | lowercase }}</a>
                </div>
            </div>
        </li>
        <li ng-blur>
            <div class="listItem">
                <span (click)="getSubcategory('торшери', $event)">
                    <img src="../../../assets/images/category-icon/torshery.png">
                    <span>Торшери</span>
                </span>
            </div>
            <div class="drop">
                <div class="drop_list">
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:2"><a
                                [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:2:arrSubcategory.length">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                </div>
                <div class="linkCategory">
                    <a [routerLink]="[ '/menu/' + catLink ]">Усі {{ nameCat | lowercase }}</a>
                </div>
            </div>
        </li>
        <li ng-blur class="eightNav">
            <div class="listItem">
                <span (click)="getSubcategory('вуличні світильники', $event)">
                    <img src="../../../assets/images/category-icon/vulychni.png">
                    <span>Вуличні світильники</span>
                </span>
            </div>
            <div class="drop">
                <div class="drop_list">
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:5"><a
                                [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:5:arrSubcategory.length">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                </div>
                <div class="linkCategory">
                    <a [routerLink]="[ '/menu/' + catLink ]">Усі {{ nameCat | lowercase }}</a>
                </div>
            </div>
        </li>
        <li ng-blur class="nineNav">
            <div class="listItem">
                <span (click)="getSubcategory('комерційні світильники', $event)">
                    <img src="../../../assets/images/category-icon/komerciyni.png">
                    <span>Комерційне світло</span>
                </span>
            </div>
            <div class="drop">
                <div class="drop_list">
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:5">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:5:arrSubcategory.length">
                            <a [routerLink]="[ '/menu/' + catLink + '/' + sc.nameEN ]">{{ sc.nameUA | mytitlecase }}</a>
                        </li>
                    </ul>
                </div>
                <div class="linkCategory">
                    <a [routerLink]="[ '/menu/' + catLink ]">Усі {{ nameCat | lowercase }}</a>
                </div>
            </div>
        </li>
        <li>
            <div class="listItem">
                <span [routerLink]="[ '/menu/' + 'promotional_offers' ]">
                    <img src="../../../assets/images/category-icon/discount.png">
                    <span>Акції</span>
                </span>
            </div>
        </li>
    </ul>
</div>