@import"../../shared/styles-components/variables.scss";

.table_nav {
  border-right: 1px solid #f5887d;
  background-color: #fd9d92;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;


  &_list {
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: space-between;
    position: relative;

    &>li {
      position: relative;
      display: table-cell;
      width: 100%;
      height: 100%;
      text-align: center;
      vertical-align: middle;
      transition: 0.3s all ease;
      background-color: $menuColor;
      z-index: 10;
      color: $mainDTxtColor;

      &:last-child a {
        border-right: 1px solid #f5887d;
      }

      &>a {
        min-width: 100px;
        margin: 0 auto;
        font-size: 0;
        display: block;
        height: 100%;
        color: inherit;
        text-decoration: none;
        padding: 0px;
        transition: .3s all ease;
        background-color: inherit;
        cursor: pointer;
        position: relative;

        &:hover {
          box-shadow: inset 0px 0px 15px 0px rgba(255, 255, 255, 0.4);
        }

        &>span {
          line-height: 1.1;
          margin: 0 auto;
          padding: 2px;
          font-size: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          &>img {
            width: 40px;
            display: inline-block;
            margin: 0 auto;
            padding-bottom: 7px;
            padding-top: 5px;
            vertical-align: bottom;
          }

          &>span {
            color: white;
            height: 32px;
            max-width: 200px;
            padding-left: 8px;
            padding-right: -5px;
            text-align: center;
            padding-top: 4px;
            padding-bottom: 7px;
            box-sizing: content-box;
          }
        }
      }
    }
  }
}

.drop {
  display: block;
  flex-wrap: nowrap;
  background: #fff !important;
  text-align: left;
  border: 1px solid #e8e8e8;
  font-size: 1rem;
  // padding: 10px 10px 10px 10px;
  position: absolute;
  left: 0;
  height: 0px;
  transition: height 0.3s ease;
  background: #d5d5d5;
  overflow: hidden;

  &>.drop_list {
    display: flex;
    justify-content: space-between;

    &>ul {
      max-width: 450px;
      min-width: 200px;
      padding: 5px;

      &:first-child {
        border-right: 1px solid #fee4e0;
      }

      &>li {
        width: 100%;
        height: 20px;
        display: list-item;
        margin-bottom: 0px;
        background-color: white;
        font-size: 14px;
        text-align: center;
        transition: 0.3s all ease;
        z-index: 10;
        color: $mainDTxtColor;


        &>.fa-caret-right {
          display: none;
          font-size: 14px;
        }

        &:hover {
          color: $mainColor;
          cursor: pointer;

          &>.fa-caret-right {
            display: inline-block;
            color: $mainColor;
          }
        }
      }
    }
  }

  &>.linkCategory {
    position: relative;
    width: calc(100% - 50px);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    line-height: 30px;
    border-top: 1px solid #fee4e0;
    text-align: center;
    background: #fff;
    font-size: 14px;

    &:hover {
      color: $mainColor;
      cursor: pointer;
    }
  }
}

@media(min-width:1300px) {
  .table_nav_list {
    height: 55px;

    li>a>span {
      padding: 5px;
      flex-direction: row;

      img {
        margin: 0;
        width: 30px;
      }

      span {
        margin: 0;
        max-width: 70px;
        text-align: left;
      }
    }
  }
}


.showDrop {
  height: auto;
}
