<div class="table_nav">
    <ul class="table_nav_list">
        <li>
            <a (click)="getSubcategory('Люстри', $event)">
                <span>
                    <img src="../../../assets/images/category-icon/lustri.png" alt="">
                    <span>Люстри</span>
                </span>
            </a>
            <div class="drop" id="drop1">
                <div class="drop_list">
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:8">{{ sc.nameUA }} <span><i
                                    class="fas fa-caret-right"></i></span>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:8:arrSubcategory.length">{{ sc.nameUA }}
                            <span><i class=" fas fa-caret-right"></i></span>
                        </li>
                    </ul>
                </div>
                <div class="linkCategory"><span>Усі Люстри</span></div>
            </div>
        </li>
        <li>
            <a (click)="getSubcategory('Стельові світильники', $event)">
                <span>
                    <img src="../../../assets/images/category-icon/stelia.png" alt="">
                    <span>Стельові світильники</span>
                </span>
            </a>
            <div class="drop" id="drop2">
                <nav>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:8">{{ sc.nameUA }} <span><i
                                    class="fas fa-caret-right"></i></span>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:8:arrSubcategory.length">{{ sc.nameUA }}
                            <span><i class=" fas fa-caret-right"></i></span>
                        </li>
                    </ul>
                    <div class="linkCategory"><a href=""></a></div>
                </nav>
            </div>
        </li>
        <li class="bg">
            <a (click)="getSubcategory('Точкові світильники', $event)">
                <span>
                    <img src="../../../assets/images/category-icon/tochkovi.png" alt="">
                    <span>Точкові світильники</span>
                </span>
            </a>
            <!-- <div class="drop" id="drop3">
                <nav>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:7">{{ sc.nameUA }} <span><i
                                    class="fas fa-caret-right"></i></span>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:7:arrSubcategory.length">{{ sc.nameUA }}
                            <span><i class=" fas fa-caret-right"></i></span>
                        </li>
                    </ul>
                    <div class="linkCategory"><a href=""></a></div>
                </nav>
            </div> -->
        </li>
        <li class="bg">
            <a>
                <span>
                    <img src="../../../assets/images/category-icon/trekovi.png" alt="">
                    <span>Трекові системи</span>
                </span>
            </a>
            <!-- <div class="drop">
                <nav>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:7">{{ sc.nameUA }} <span><i
                                    class="fas fa-caret-right"></i></span>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:7:arrSubcategory.length">{{ sc.nameUA }}
                            <span><i class=" fas fa-caret-right"></i></span>
                        </li>
                    </ul>
                    <div class="linkCategory"><a href=""></a></div>
                </nav>
            </div> -->
        </li>
        <li class="bg">
            <a>
                <span>
                    <img src="../../../assets/images/category-icon/bra.png" alt="">
                    <span>Бра</span>
                </span>
            </a>
            <!-- <div class="drop">
                <nav>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:7">{{ sc.nameUA }} <span><i
                                    class="fas fa-caret-right"></i></span>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:7:arrSubcategory.length">{{ sc.nameUA }}
                            <span><i class=" fas fa-caret-right"></i></span>
                        </li>
                    </ul>
                    <div class="linkCategory"><a href=""></a></div>
                </nav>
            </div> -->
        </li>
        <li class="bg">
            <a>
                <span>
                    <img src="../../../assets/images/category-icon/nastilni.png" alt="">
                    <span>Настільні лампи</span>
                </span>
            </a>
            <!-- <div class="drop">
                <nav>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:7">{{ sc.nameUA }} <span><i
                                    class="fas fa-caret-right"></i></span>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:7:arrSubcategory.length">{{ sc.nameUA }}
                            <span><i class=" fas fa-caret-right"></i></span>
                        </li>
                    </ul>
                    <div class="linkCategory"><a href=""></a></div>
                </nav>
            </div> -->
        </li>
        <li class="bg">
            <a>
                <span>
                    <img src="../../../assets/images/category-icon/torshery.png" alt="">
                    <span>Торшери</span>
                </span>
            </a>
            <!-- <div class="drop">
                <nav>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:7">{{ sc.nameUA }} <span><i
                                    class="fas fa-caret-right"></i></span>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:7:arrSubcategory.length">{{ sc.nameUA }}
                            <span><i class=" fas fa-caret-right"></i></span>
                        </li>
                    </ul>
                    <div class="linkCategory"><a href=""></a></div>
                </nav>
            </div> -->
        </li>
        <li class="bg">
            <a>
                <span>
                    <img src="../../../assets/images/category-icon/vulychni.png" alt="">
                    <span>Вуличні світильники</span>
                </span>
            </a>
            <!-- <div class="drop" id="drop7">
                <nav>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:7">{{ sc.nameUA }} <span><i
                                    class="fas fa-caret-right"></i></span>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:7:arrSubcategory.length">{{ sc.nameUA }}
                            <span><i class=" fas fa-caret-right"></i></span>
                        </li>
                    </ul>
                    <div class="linkCategory"><a href=""></a></div>
                </nav>
            </div> -->
        </li>
        <li class="bg">
            <a>
                <span>
                    <img src="../../../assets/images/category-icon/komerciyni.png" alt="">
                    <span>Комерційне світло</span>
                </span>
            </a>
            <!-- <div class="drop">
                <nav>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:0:7">{{ sc.nameUA }} <span><i
                                    class="fas fa-caret-right"></i></span>
                        </li>
                    </ul>
                    <ul>
                        <li *ngFor="let sc of arrSubcategory | slice:7:arrSubcategory.length">{{ sc.nameUA }}
                            <span><i class=" fas fa-caret-right"></i></span>
                        </li>
                    </ul>
                    <div class="linkCategory"><a href=""></a></div>
                </nav>
            </div> -->
        </li>
        <li class="bg">
            <a href="">
                <span>
                    <img src="../../../assets/images/category-icon/discount.png" alt="">
                    <span>Акції</span>
                </span>
            </a>
        </li>
    </ul>
</div>