@import"../../shared/styles-components/variables.scss";

.table_nav {
  border-right: 1px solid #f5887d;
  background-color: #fd9d92;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;

  &_list {
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: space-between;
    position: relative;

    &>li {
      position: relative;
      display: table-cell;
      width: 100%;
      height: 100%;
      text-align: center;
      vertical-align: middle;
      transition: 0.3s all ease;
      background-color: $menuColor;
      z-index: 10;
      color: $mainDTxtColor;
      border-right: 1px solid #f5887d;
      cursor: pointer;

      &:last-child {
        border-right: none;
      }

      &:last-child div {
        border-right: none;
      }

      &>div.listItem {
        min-width: 100px;
        margin: 0 auto;
        height: 100%;
        transition: .3s all ease;

        &:hover {
          box-shadow: inset 0px 0px 15px 0px rgba(255, 255, 255, 0.4);
        }

        &>span {
          width: 100%;
          height: 100%;
          line-height: 1.1;
          margin: 0 auto;
          padding: 2px;
          font-size: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          &>img {
            width: 40px;
            display: inline-block;
            margin: 0 auto;
            padding-bottom: 7px;
            padding-top: 5px;
            vertical-align: bottom;
            z-index: -1;
          }

          &>span {
            color: white;
            max-width: 200px;
            padding-left: 8px;
            padding-right: -5px;
            text-align: center;
            padding-top: 4px;
            padding-bottom: 7px;
            box-sizing: content-box;
            z-index: -1;
          }

        }
      }
    }
  }
}

.drop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  background: #fff !important;
  text-align: left;
  border: 1px solid #e8e8e8;
  font-size: 1rem;
  position: absolute;
  top: 93px;
  left: 0px;
  height: 0px;
  width: 0px;
  transition: height 0.3s ease;
  transition: width 0.3s ease;
  background: #d5d5d5;
  overflow: hidden;
  border: 1px solid $mainColor;

  &>.drop_list {
    display: flex;
    justify-content: space-between;

    &>ul {
      min-width: 190px;
      padding: 10px;

      &:first-child {
        border-right: 1px solid #fee4e0;
      }

      &>li {
        height: 20px;
        margin: 3px 0;
        display: list-item;
        margin-bottom: 0px;
        background-color: white;
        font-size: 14px;
        text-align: left;
        transition: 0.3s all ease;
        z-index: 10;
        color: $mainDTxtColor;
        white-space: nowrap;

        &:hover {
          color: $mainColor;
          cursor: pointer;
          text-decoration-line: underline;
        }

        &>a {
          margin-right: 1px;
          color: black;

          &:hover {
            color: $mainColor;
          }
        }
      }
    }
  }

  &>.linkCategory {
    position: relative;
    bottom: 0;
    line-height: 30px;
    border-top: 1px solid #fee4e0;
    text-align: center;
    background: #fff;
    font-size: 14px;
    white-space: nowrap;

    &>a {
      color: black;

      &:hover {
        color: $mainColor;
      }
    }
  }
}

@media(min-width:1300px) {
  .table_nav_list {
    height: 55px;

    li>div.listItem>span {
      padding: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      img {
        margin: 0;
        width: 30px;
      }

      span {
        margin: 0;
        max-width: 70px;
        height: none;
        text-align: left;
      }
    }
  }

  .drop {
    top: 53px;
  }
}

.eightNav>div:nth-of-type(2) {
  left: -20px;
}

.nineNav>div:nth-of-type(2) {
  left: auto;
  right: -100px;
}

.showDrop {
  height: auto;
  width: auto;
  top: auto;
  transition: height 0.5s ease;
  transition: width 0.5s ease;
}


.mtable_nav {
  display: none;
}

@media (max-width:1050px) {
  .table_nav {
    display: none;
  }
}
