<app-image-slider></app-image-slider>
<div class="promotionalOffersBlock">
    <h3>Акційні пропозиції</h3>
    <div class="promotionalOffers">
        <div class="prodCard" *ngFor="let prod of products">
            <div class=" prodWrap">
                <div *ngIf="prod.discountPercent !== 0" class="discountsBlock">
                    <p class="txtDiscount">Акція</p>
                    <p class="percentDiscount">-{{ prod.discountPercent }}%</p>
                </div>
                <img class="prodImg" src="{{ prod.image }}"
                    [routerLink]="[ '/menu/promotional_offers' + '/' + prod.subcategory.nameEN, prod.id ]">
                <p class="prodTitle"
                    [routerLink]="[ '/menu/'+prod.category.nameEN + '/' + prod.subcategory.nameEN, prod.id ]">
                    {{ prod.name }}</p>
                <p class="prodTxt">Час доставки до {{ prod.deliveryDays }} днів</p>
                <div class="prodPrice">
                    <p *ngIf="prod.discountPercent !== 0" class="oldPrice" [textContent]="prod.price+'грн'"></p>
                    <p class="newPrice"
                        [textContent]="(prod.discountPercent !== 0)?calcPrice(prod.price, prod.discountPercent)+'грн':prod.price+'грн'">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-last-viewed></app-last-viewed>
<section class="info">
    <h4>Магазин освітлення, світильників і люстр FIREFLY</h4>
    <p>Дизайнери стверджують, що вдало підібраною люстрою можна кардинально змінити будь-який інтер'єр. Так що покупка
        освітлення, якщо підійти до питання правильно, - справа творча і захоплююча. Адже сьогодні у продажу є
        різноманітні
        сучасні світильники будь-яких стилів та дизайнерських рішень. Ми впевнені, що в каталозі нашого магазину
        освітлення
        компанії "АРТ-ЕНЕРГО" усі, хто вирішив купити оригінальну незвичну люстру, обов'язково знайдуть потрібну модель.
        Більш
        ніж десятирічний досвід роботи і пряме співробітництво з відомими європейськими виробниками освітлення Viokef
        (Віокеф),
        Osmont (Осмонт), Nordlux (Нордлюкс), LUG, Norlys (Норліс), Markslojd (Маркслойд) дозволяють нам формувати
        асортимент
        освітлювальних приладів згідно з найбільш актуальними світовими тенденціями.</p>
    <h3>АСОРТИМЕНТ МАГАЗИНУ ЛЮСТР НАСВІТЛО</h3>
    <p>При його формуванні ми враховуємо все: якість матеріалів і виконання, надійність та функціональність конструкції
        освітлювальних приладів, естетичність зовнішнього вигляду і, звичайно ж, доступність ціни. Всі світильники
        купити які ви
        можете в нашому магазині, сертифіковані в Україні і відповідають найсуворішим вимогам європейських стандартів
        безпеки та
        якості. У нас ви можете недорого:</p>
    <ul>
        <li><span>купити люстру</span>- підвісні та пристельові, класичні та авангардні. Особливої уваги заслуговують
            шведські кришталеві люстри Markslojd та
            англійські Searchlight (Серчлайт), що являють собою унікальне поєднання класичних та сучасних форм. Завдяки
            прямим
            поставкам, ці світильники купити в нашому магазині ви можете за найдоступнішою ціною;</li>
        <li><span>купити бра</span>- в нашому магазині світильників представлені найрізноманітніші різновиди: класичні
            моделі, настінні плафони й споти,
            підсвітки і дзеркала з підсвіткою;</li>
        <li><span>купити торшер</span>- ці світильники купити можна в традиційному або оригінальному дизайні. Такі
            освітлювальні прилади незамінні при
            зонуванні приміщень та надають їм особливого затишку;</li>
        <li><span>купити настільну лампу</span>- корисний та функціональний аксесуар для дітей і дорослих;</li>
        <li><span>купити вуличний світильник</span>- купити у нас можна освітлювальні прилади для магістралей, вуличні
            ліхтарі й прожектори, настінні, стельові та
            вбудовані моделі, різні підвіси;</li>
        <li><span>придбати офісно-адміністративні освітлювальні прилади</span>різного призначення.</li>
    </ul>
    <p>
        Крім того, в нашому магазині освітлення ви зможете дуже дешево купити найсучасніші джерела світла: економні
        люмінесцентні, галогенові і світлодіодні лампи.

        Інтернет-магазин світильників Nasvitlo працює як з кінцевими споживачами, так і з охочими світильники купити в
        Тернополі, Львові, Івано-Франківську, Луцьку, Києві, Житомирі, Одесі та інших містах гуртом. Архітектурні бюро,
        дизайнерські студії та гуртові покупці світильники купити можуть за пільговими цінами. А можливість будь-який
        світильник
        купити в онлайн-режимі стане чудовою можливістю заощадити час, сили і кошти. </p>
</section>